.segoefont {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.notextdecor {
    text-decoration: none;
}

body {
    background-color: #0A0012;
}

.whitecolor {
    color: white;
}

.greencolor {
    color: #00FF90;
}

.bold {
    font-weight: bold;
}

.left10 {
    position: absolute;
    left: 10%;
}

.top30 {
    position: absolute;
    top: 30%;
}

.headingpos {
    position: relative;
    margin-left:-10%;
    margin-top: 15%;
    width: 40%;
}


.greenbutton {
    background-color: rgba(0, 255, 144, .2);
    border: #00FF90 solid 4px;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    padding: 0.625rem 1.25rem;
    border-radius: 10px;
}

.whitebutton {
    background-color: rgba(255, 255, 255, .2);
    border: #FFFFFF solid 4px;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 0.625rem 1.25rem;
    border-radius: 10px;
}
img {
    height: 70vh;
    width: 70vh;
    object-fit: cover;
    }

.font12 { font-size: 0.75rem; }
.font14 { font-size: 0.875rem; }
.font16 { font-size: 1rem; }
.font18 { font-size: 1.125rem; }
.font20 { font-size: 1.25rem; }
.font24 { font-size: 1.5rem; }
.font32 { font-size: 2rem; }
.font36 { font-size: 2.25rem; }
.font42 { font-size: 2.625rem; }
.font48 { font-size: 3rem; }
.font64 { font-size: 4rem; }
.font72 { font-size: 4.5rem; }

